body{
  margin: 0;
  padding: 0;
}
.full-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1{
  background-color: #2ecc71;
}
#page2{
  background-color: #3498db;
  
}
#page3{
  background-color: #9b59b6;
  
}
#page4{
  background-color: #34495e;
  
}
#page5{
  background-color: #e74c3c;
  
}

h1{
  color: white;
  font-size: 35px;
}

h2{
  color: white;
  font-size: 35px;
  padding: 5px;
}


@keyframes SCTR-test {
  from {
    opacity: 0;
    transform: translateX(-9999px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.SCTR-test {
          animation: SCTR-test 1.4s;
}

.SCTR-fade-in {
  -webkit-animation: SCTR-fade-in 1.4s;
          animation: SCTR-fade-in 1.4s;
}

.SCTR-init{
  opacity: 0;
}
@-webkit-keyframes SCTR-fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

@keyframes SCTR-fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

